<div class="wrapper">
  <div class="image-container">
    {{!-- App Title --}}
    <h1 class="app-title">Eat-Da-Burger</h1>
    {{!-- Hamburger GIF --}}   
    <img class='burger-gif' src="assets/css/img/spinning-patty.gif"  alt="burger-gif">
  </div>
  {{!-- Form --}}
  <div class='form-wrapper'>
    <h1 class="display-4 form-title">Enter A Burger</h1>
    <form class="create-form align-items-center">
      <div class="form-group form-control-lg">
        <textarea class="form-control mx-auto burger-input" id="burger" name="burger" placeholder="chzbrgr" rows="1"></textarea>
        <button class="btn button" id="add-burger" type="submit">Add Burger</button>
      </div>
    </form>
  </div>                    
  {{!-- New Burgers Column --}}
  <div class="column1">
    <h2>The Menu:</h2>
    <div id="burger-menu">
      <ul class="list-unstyled">
        {{#each burgers}}
        {{#unless devoured}}
          {{> burgers/burger-block}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div>

  {{!-- Burgers Eaten Column --}}
  <div class="column2">
    <h2>Burgers Devoured:</h2>
    <div id="devoured">
      <ul class="list-unstyled devoured-list text-muted">
        {{#each burgers}}
          {{#if devoured}}
          {{> burgers/burger-block}}
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

  {{!-- Footer  --}}
  <div class="footer">
    <span class="footer-text">© 2017 Kelsi Summers</span>
  </div>
</div>
