<li>
	{{!-- Burger Name --}}
	{{burger_name}}
	{{!-- Devour Button --}}
	{{#unless devoured}}
	<button id="devour-burger" class="btn" data-id="{{this.id}}" data-eaten="{{devoured}}">DEVOUR!</button>
	{{/unless}}
</li>
